<div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <ul class="list-group">
                <!-- opcion 1: aunq es para versiones anteriores a Angular 16 -->
                <li class="list-group-item" *ngFor="let usuario of _usuarios$ | async">{{ usuario.id }} - {{
                    usuario.name }}</li>
                <hr>
                <!-- opcion 2 -->
                @if (usuarios2.length > 0) {
                @for (usuario of usuarios2; track usuario.id) {
                <li class="list-group-item">{{ usuario.id }} - {{ usuario.name }}</li>
                }
                }
                @else {
                <li class="list-group-item">No hay usuarios</li>
                }

                <hr>
                <!-- opcion 3 : usar esta con signals (Angular 16+) -->
                @if (usuarios3()) {
                @for (usuario of usuarios3(); track usuario.id) {
                <li class="list-group-item">{{ usuario.id }} - {{ usuario.name }}</li>
                }
                }
                @else {
                <li class="list-group-item">No hay usuarios</li>
                }
            </ul>
        </div>
    </div>
</div>